@import url("https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&display=swap");
@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cascadia Code", monospace;
  scroll-behavior: smooth;
  color: #67707a;
}

body {
  background-color: #1f1f1f;
}
